<ion-row>
  <ion-col size="12">
    <ion-card-header>
      <ion-card-subtitle>{{routesItemPoi.category}}</ion-card-subtitle>
      <ion-card-title>{{routesItemPoi.title}}</ion-card-title>
    </ion-card-header>

  </ion-col>

</ion-row>

<ion-row>

  <ion-col size="12">
    <ion-card-content>
      <app-icon-text *ngIf="routesItemPoi.phone" [icon]="'call-outline'" [text]="routesItemPoi.phone">
      </app-icon-text>

      <app-icon-text *ngIf="routesItemPoi.address" [icon]="'pin-outline'" [text]="routesItemPoi.address">
      </app-icon-text>

    </ion-card-content>
  </ion-col>

</ion-row>